%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} Brand
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{href: "#"} Link
      %li
        %a{href: "#"} Link
      %li.dropdown
        = bsh_dropdown(container: false) do |dj|
          = dj.anchor("Dropdown", tag: :a) do
            %span.caret
          = dj.item("Action", "#")
          = dj.item("Another action", "#")
          = dj.item("Something else here", "#")
          = dj.divider
          = dj.item("Separated link", "#")
          = dj.divider
          = dj.item("One more separated link", "#")
    %form.navbar-form.navbar-left{role: "search"}
      .form-group
        %input.form-control{placeholder: "Search", type: "text"}/
      %button.btn.btn-default{type: "submit"} Submit
    %ul.nav.navbar-nav.navbar-right
      %li
        %a{href: "#"} Link
      %li.dropdown
        = bsh_dropdown(container: false) do |dj|
          = dj.anchor("Dropdown", tag: :a) do
            %span.caret
          = dj.item("Action", "#")
          = dj.item("Another action", "#")
          = dj.item("Something else here", "#")
          = dj.divider
          = dj.item("Separated link", "#")