%h1 Public::Welcome#index
%p Find me in app/views/public/welcome/index.html.erb

= bsh_dropdown("My anchor", ul_classes: :foo) do |dj|
  = dj.header("Dropdown header")
  = dj.item("Disabled link", "#", data: { test: true} )
  = dj.item("Link 2 (disable)", "#", disable: true)
  = dj.item("Another action", "#", classes: :test)
  = dj.divider

  = dj.header("Dropdown header2")
  = dj.item(id: "block_item") do
    %div.text-primary
      Separated item (generate by a block)

.btn-group
  %button.btn.btn-default{type: "button"} 1
  %button.btn.btn-default{type: "button"} 2
  .btn-group
    = bsh_dropdown() do |dj|
      = dj.anchor("Dropdown", classes: 'btn-default') do
        %span.caret
      = dj.item("Dropdown link", "#")
      = dj.item("Dropdown link", "#")

= icon 'exclamation-sign', lib: 'bs'

= icon :linux, border: true, rotate: 90

= fah_stacked_icon(:camera, :ban, classes: { container: 'fa-lg', stacked: 'text-danger'} )