%h1 Public::Welcome#index
%p Find me in app/views/public/welcome/index.html.erb


= bsh_dropdown() do |drop_obj|
  = drop_obj.menu_anchor(text: "My so cool anchor")
  = drop_obj.menu_item("My so cool link 1", "#")
  = drop_obj.menu_item("My so cool link 2", "#")
  = drop_obj.menu_item("My so cool link 3", "#")

.span5
  .dropdown
    %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
      Dropdown
      %span.caret
    %ul.dropdown-menu
      %li.dropdown-header Dropdown header
      %li
        %a{href: "#", tabindex: "-1"} Action
      %li
        %a{href: "#", tabindex: "-1"} Another action
      %li.disabled
        %a{href: "#", tabindex: "-1"} Disabled link
      %li
        %a{href: "#", tabindex: "-1"} Something else here
        %li.divider
        %li
          %a{href: "#", tabindex: "-1"} Separated link

.span5
  .btn-group
    %button.btn.btn-default{type: "button"} 1
    %button.btn.btn-default{type: "button"} 2
    .btn-group
      %button.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
        Dropdown
        %span.caret
      %ul.dropdown-menu
        %li
          %a{href: "#"} Dropdown link
        %li
          %a{href: "#"} Dropdown link


= icon 'exclamation-sign', lib: 'bs'

= icon :linux, border: true, rotate: 90

= fah_stacked_icon(:camera, :ban, classes: { container: 'fa-lg', stacked: 'text-danger'} )